<button onclick="open_choose_file()">Back</button>

<button onclick="reload_statistics()">Reload</button>

<div class="statistics-view">
    <h1>Log File:</h1>

    <div id="statistics-content"></div>
        <div style="display: grid; grid-template-columns: 1fr 1fr;">
            <div class="camera-view">
                <h2>Camera View</h2>
                <div id="camera-view-content">
                    <img src="/video_feed" id="videoStream" />
                </div>
            </div>

            <div class="2D-Map">
                <h2>2D Map</h2>
                <div id="2D-map-content">
                    <canvas id="map-canvas" width="500" height="400">
                        Your browser does not support the HTML5 canvas tag.
                    </canvas>
                </div>
                <div class="legend" id="legend"></div>
            </div>
        </div>

        <div class="statistics-table">
            <h2>Statistics Table</h2>
            <div id="statistics-table-content"></div>
        </div>
    </div>
</div>

<style>
    button {
        display: inline-block;
        padding: 10px 15px;
        background-color: #007BFF;
        color: white;
        text-decoration: none;
        border-radius: 5px;
        font-size: 14px;
    }

    .back-button:hover {
        background-color: #0056b3;
    }

    .statistics-view {
        margin: 20px;
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 5px;
        background-color: #f9f9f9;
    }

    .statistics-view h1 {
        font-size: 24px;
        margin-bottom: 15px;
    }

    .statistics-view h2 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .legend {
        margin-top: 10px;
        font-size: 14px;
        color: #555;
    }

    .statistics-table {
        margin-top: 20px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #fff;
    }

    #videoStream {
        width: 90%;
    }

    #map-canvas {
        border: 1px solid #ccc;
        background-color: #fff;
    }
</style>

<script src="/static/script/statistics.js"></script>
<script src="/static/script/canvas_filler.js"></script>
<script src="/static/script/camera.js"></script>
